<div class="main">
  <div class="header">
    <div class="logo">
      <ion-img
        src="assets/image/logo.png"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
        class="image"
      ></ion-img>
    </div>
    <div class="burger-menu">
      <ion-img
        src="assets/image/burger-menu.svg"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
        class="image"
      ></ion-img>
    </div>
  </div>
  <div class="backgound"></div>
  <div class="body">
    <div class="left">
      <div class="part1">
        <h3 class="h3">Pour commencer...</h3>
        <p>
          Faire votre Shynlei, jouer avec, c'est l'occasion d'ecouter vos reves,
          de les partager et de prendre confiance dans votre richesse
        </p>
      </div>
      <div class="part2">
        <h5>Nom et prenom :</h5>
        <input type="text" />
      </div>
      <div class="part3">
        <h5>Mon intention :</h5>
        <p>L'intention, l'objectif de ce Shynlei</p>
        <input type="text" />
      </div>
    </div>
    <div class="right">
      <div class="header1">
        <h2>Votre Shynlei c'est..</h2>

        <p>
          7 etapes, 2 fiches pour prendre note des rencontres, 1 page pour
          eclairer les sens, 3 interpretations pour vours aider..
        </p>
      </div>

      <div class="body1">
        <ion-grid>
          @if (innerWidth > 1000) {
            <ion-row>
              <ion-col>
                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-1.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">1. Le reve liber l'expression</div>
                </div>

                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-2.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">2. La sens eclaire le parcours</div>
                </div>
                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-3.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">3. La difference rend unique</div>
                </div>
                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-4.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">
                    4. La valeur humaine met en mouvement
                  </div>
                </div>
              </ion-col>
              <ion-col>
                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-5.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">5. Lla cle exprime le style</div>
                </div>
                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-6.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">
                    6. Le parcours associe reve et realite
                  </div>
                </div>
                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-7.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">7. Le ciel revele l'alignement</div>
                </div>
              </ion-col>
            </ion-row>
          } @else {
            <ion-row>
              <ion-col>
                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-1.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">1. Le reve liber l'expression</div>
                </div>

                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-2.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">2. La sens eclaire le parcours</div>
                </div>
                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-3.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">3. La difference rend unique</div>
                </div>
                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-4.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">
                    4. La valeur humaine met en mouvement
                  </div>
                </div>
                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-5.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">5. Lla cle exprime le style</div>
                </div>
                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-6.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">
                    6. Le parcours associe reve et realite
                  </div>
                </div>
                <div class="card">
                  <div class="label">
                    <ion-img
                      src="assets/image/Page-7.svg"
                      alt="The Wisconsin State Capitol building in Madison, WI at night"
                      class="image"
                    ></ion-img>
                  </div>
                  <div class="keyword">7. Le ciel revele l'alignement</div>
                </div>
              </ion-col>
            </ion-row>
          }
        </ion-grid>
      </div>

      <div class="footer">
        <button (click)="onCkeck()">Exprimer mes reves ></button>
      </div>
    </div>
  </div>
</div>
